#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.read-the-docs {
  color: #888;
}

.filter {
  margin: 20px 10px;
  text-align: left;
}

table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  margin: 20px auto;
}

thead th {
  text-align: left;
  padding: 12px;
  border-bottom: 2px solid #ddd;
}

thead th:nth-child(n + 3),
tbody td:nth-child(n + 3) {
  text-align: right;
}

tbody td {
  text-align: left;
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
}

tbody tr td[colspan="5"] {
  text-align: center;
  padding: 20px;
  color: #888;
}
