#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.read-the-docs {
  color: #888;
}

.filter {
  margin: 20px 10px;
  text-align: left;
}

.App {
  margin-top: 2cm;
  min-height: calc(100vh - 2cm);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard {
  width: 600px;
  max-width: 800px;
}

table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  margin: 20px auto;
  table-layout: fixed;
}

thead th {
  text-align: left;
  padding: 12px;
  border-bottom: 2px solid #ddd;
  white-space: nowrap;
}

tbody td {
  text-align: left;
  padding: 10px 12px;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
}

/* Table Full name column */
thead th:nth-child(1),
tbody td:nth-child(1) {
  width: 35%;
  max-width: 200px;
  overflow: hidden;
}

/* Table Country column */
thead th:nth-child(2),
tbody td:nth-child(2) {
  width: 16%;
  max-width: 150px;
  overflow: hidden;
}

/* Table last 3 columns */
thead th:nth-child(n + 3),
tbody td:nth-child(n + 3) {
  text-align: right;
  width: 16.33%;
  min-width: 80px;
}

tbody tr td[colspan="5"] {
  text-align: center;
  padding: 20px;
  color: #888;
}
